<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml"
      xmlns:th="http://www.w3.org/1999/html"
      xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br">
  <head>
    <meta charset="UTF-8">
    <title th:text="|${it.menuItem.name}の商品を選択 &lt; ${it.store.name}: 宅配・出前なら楽天デリバリー（ベータ版）|">ハーフ＆ハーフ Mサイズの商品を選択 &lt; PIZZA SALVATORE CUOMO代官山店: 宅配・出前なら楽天デリバリー（ベータ版）</title>
    <meta name="description" content="「PIZZA SALVATORE CUOMO代官山店」でネット注文するなら出前／宅配サービスの楽天デリバリーで！楽天市場でも使える、楽天ポイントがたまります。"
          th:content="|「${it.store.name}」でネット注文するなら出前／宅配サービスの楽天デリバリーで！楽天市場でも使える、楽天ポイントがたまります。|">
    <meta name="keywords" content="カマンベールミルフィーユ・クワトロ,PIZZA SALVATORE CUOMO代官山店,楽天デリバリー,宅配,出前,デリバリー"
          th:content="|${it.menuItem.name},${it.store.name},楽天デリバリー,宅配,出前,デリバリー|">
    <meta property="og:type" content="food">
    <meta property="og:site_name" content="楽天デリバリー">
    <meta property="og:title" content="ハーフ＆ハーフ Mサイズの商品を選択 &lt; PIZZA SALVATORE CUOMO代官山店: 宅配・出前なら楽天デリバリー（ベータ版）"
          th:content="|${it.menuItem.name} &lt; ${it.store.name}: 宅配・出前なら楽天デリバリー（ベータ版）|">
    <meta property="og:url" content="https://delivery.rakuten.co.jp/store/51650/item/1226372/half/"
          th:content="@{https://delivery.rakuten.co.jp/store/{storeId}/item/{articleId}/half/(storeId=${it.store.id},articleId=${it.menuItem.articleId})}">
    <meta property="og:image" content="https://img.delivery.rakuten.co.jp/sample/assets/img/_dummy/pizza_1.jpg" th:content="@{${it.menuItem.imageUrl}}">
    <meta property="fb:app_id" content="171774092837123">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="RakutenDelivery">
    <meta name="viewport" content="width=device-width">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="https://img.delivery.rakuten.co.jp/data/static/delivery/favicon.ico?v=20181001">
    <link rel="apple-touch-icon" href="https://img.delivery.rakuten.co.jp/data/static/delivery/normal/common/touch.png">
    <link rel="stylesheet" href="https://img.delivery.rakuten.co.jp/data/static/assets/css/common.min.css" th:href="${@staticResourceVersionsConfiguration.getVersionedUrl('https://img.delivery.rakuten.co.jp/data/static/assets/css/common.min.css')}">
    <link rel="canonical" href="https://delivery.rakuten.co.jp/store/51650/item/1226372/half/"
          th:href="@{https://delivery.rakuten.co.jp/store/{storeId}/item/{articleId}/half/(storeId=${it.store.id},articleId=${it.menuItem.articleId})}">
    <script src="https://img.delivery.rakuten.co.jp/data/static/assets/js/vendor.js" th:src="${@staticResourceVersionsConfiguration.getVersionedUrl('https://img.delivery.rakuten.co.jp/data/static/assets/js/vendor.js')}"></script>
    <script src="https://img.delivery.rakuten.co.jp/data/static/assets/js/srmBanner.js"></script>
  </head>
  <body>
  <!--/*--><!--#include virtual="/include/common_header.html" --><!--*/-->
  <div class="hidden" th:replace="~{include/common_header} ?: ~{}">include/common_header.htmlの呼び出し</div>
    <main class="l-main">
      <article>
        <div class="js-include c-includeBanner" data-src="/static/js-include/header/store.html"></div>
        <div class="l-main-body">
          <div class="Imgwrap -l_main">
            <div class="ImgwrapInner">
              <script>
                var ua = navigator.userAgent;
                if ((ua.indexOf('iPhone') == -1 && ua.indexOf('iPod') == -1 && ua.indexOf('Mobile') == -1) || ua.indexOf('iPad') > 0) {
                  /*<!-- ****************** AD-SPACE TAG ****************** -->*/
                  /*<!-- [Rak_Delivery_All_LeftSideRect] 楽天デリバリー 全面/サイドジャック左 -->*/
                  //document.write('<div id="Rak_Delivery_All_LeftSideRect_nofix"><script type="text/javascript">rakutentag_Rak_Delivery_All.prepare("Rak_Delivery_All_LeftSideRect");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_All.prepare("Rak_Delivery_All_LeftSideRect");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_All.prepare("Rak_Delivery_All_LeftSideRect");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_All.prepare("Rak_Delivery_All_LeftSideRect");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_All.display("Rak_Delivery_All_LeftSideRect");<\/script><noscript><iframe src="//grp09.ias.rakuten.co.jp/ctrl/?pgcd=Rak_Delivery_All&frcd=Rak_Delivery_All_LeftSideRect&nsc=1"width="160" height="600" marginwidth="0" marginheight="0" hspace="0" vspace="0"frameborder="0" scrolling="no" bordercolor="#000000" allowtransparency="true"></iframe></noscript></div>');
                    /*<!--*/
                    <script src='https://securepubads.g.doubleclick.net/tag/js/gpt.js'></script>

                    <script>
                    window.googletag = window.googletag || {cmd: []};
                        googletag.cmd.push(function() {
                        googletag.defineSlot('/7727/RakutenDelivery/All/LeftSideRect', [160, 600], 'div-gpt-ad-1527826112958-0').addService(googletag.pubads())

                        .setTargeting("adnwpub", "9_Delivery");

                        googletag.pubads().collapseEmptyDivs();
                    googletag.enableServices();
                        });
                    </script>
                    /*-->*/
                    /*<!-- /7727/RakutenDelivery/All/LeftSideRect -->*/
                    /*<!--*/
                    <div id='div-gpt-ad-1527826112958-0' class="is_top">
                        <script>
                            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1527826112958-0'); });
                        </script>
                    </div>
                    /*-->*/
                  /*<!-- [Rak_Delivery_All_RightSideRect] 楽天デリバリー 全面/サイドジャック右 -->*/
                  //document.write('<div id="Rak_Delivery_All_RightSideRect_nofix"><script type="text/javascript">rakutentag_Rak_Delivery_All.prepare("Rak_Delivery_All_RightSideRect");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_All.prepare("Rak_Delivery_All_RightSideRect");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_All.prepare("Rak_Delivery_All_RightSideRect");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_All.prepare("Rak_Delivery_All_RightSideRect");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_All.display("Rak_Delivery_All_RightSideRect");<\/script><noscript><iframe src="//grp09.ias.rakuten.co.jp/ctrl/?pgcd=Rak_Delivery_All&frcd=Rak_Delivery_All_RightSideRect&nsc=1"width="160" height="600" marginwidth="0" marginheight="0" hspace="0" vspace="0"frameborder="0" scrolling="no" bordercolor="#000000" allowtransparency="true"></iframe></noscript></div>');
                  /*<!-- ****************** /AD-SPACE TAG ****************** -->*/
                  <script src='https://securepubads.g.doubleclick.net/tag/js/gpt.js'></script>
                  <script>
                  window.googletag = window.googletag || {cmd: []};
                      googletag.cmd.push(function() {
                      googletag.defineSlot('/7727/RakutenDelivery/All/RightSideRect', [160, 600], 'div-gpt-ad-1527826313878-0').addService(googletag.pubads())

                      .setTargeting("adnwpub", "9_Delivery");
                    
                      googletag.pubads().collapseEmptyDivs();
                  googletag.enableServices();
                      });
                  </script>                
                  /*<!-- /7727/RakutenDelivery/All/RightSideRect -->*/
                  <div id='div-gpt-ad-1527826313878-0' class="is_top">
                      <script>
                          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1527826313878-0'); });
                      </script>
                  </div>
                }
              </script>
            </div>
          </div>
          <!--/*
          <ul class="c-breadcrumb">
            <li class="c-breadcrumb-item"><a href="#" class="c-breadcrumb-link">全国</a>
            </li>
            <li class="c-breadcrumb-item"><a href="#" class="c-breadcrumb-link">東京都</a>
            </li>
            <li class="c-breadcrumb-item"><a href="#" class="c-breadcrumb-link">渋谷区</a>
            </li>
            <li class="c-breadcrumb-item"><a href="#" class="c-breadcrumb-link">恵比寿</a>
            </li>
            <li class="c-breadcrumb-item"><a href="#" class="c-breadcrumb-link">１丁目</a>
            </li>
            <li class="c-breadcrumb-item"><span class="c-breadcrumb-link is-current">マルゲリータ ハーフ&amp;ハーフ</span>
            </li>
          </ul>
          */-->
          <script>
            var ua = navigator.userAgent;
            if (ua.indexOf('iPhone') > 0  || (ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0)) {
              /*<!-- ****************** AD-SPACE TAG ****************** -->*/
              /*<!-- [Rak_Delivery_SP_Top_HBanner] 楽天デリバリー SPトップ面/ヘッダーバナー -->*/
              //document.write('<div style="width:320px;height:50px;" class="mbtt-15" id="Rak_Delivery_SP_Top_HBanner"><script type="text/javascript">rakutentag_Rak_Delivery_SP_Top.prepare("Rak_Delivery_SP_Top_HBanner");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_SP_Top.prepare("Rak_Delivery_SP_Top_HBanner");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_SP_Top.prepare("Rak_Delivery_SP_Top_HBanner");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_SP_Top.prepare("Rak_Delivery_SP_Top_HBanner");<\/script><script type="text/javascript">rakutentag_Rak_Delivery_SP_Top.display("Rak_Delivery_SP_Top_HBanner");<\/script><noscript><iframe src="//grp09.ias.rakuten.co.jp/ctrl/?pgcd=Rak_Delivery_SP_Top&frcd=Rak_Delivery_SP_Top_HBanner&nsc=1" width="320" height="50" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" bordercolor="#000000" allowtransparency="true"></iframe></noscript></div>');
              /*<!-- ****************** /AD-SPACE TAG ****************** -->*/
            }
          </script>
          <!--/* 日時指定に誤りがあった場合に表示 結果はいますぐお届け選択状態で表示 */-->
          <div class="g-view" th:if="${it.deliveryDateTimeValidationResult.name() == 'WAS_EXPIRED'}">
            <div class="g-view-item">
                <div class="c-error">
                  <div class="c-error-title-wrap">
                    <i class="-icon c-icon-error"></i>
                    <p class="c-error-tit">ご確認ください</p>
                  </div>
                  <hr>
                  <ul class="c-error-list">
                    <li>
                      <ul>
                        <li class="c-error-text">お届け日時の指定に誤りがあります</li>
                        <li class="c-error-desc">お届け日時は現在より60分後以降を指定してください</li>
                      </ul>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="c-error" th:if="${it.menuItemValidationResult.name() == 'SOLD_OUT'}">
            <div class="c-error-title-wrap">
              <i class="-icon c-icon-error"></i>
              <p class="c-error-tit">この商品は売り切れです</p>
            </div>
            <hr>
            <ul class="c-error-list">
              <li>
                <p class="c-error-desc">お手数ですが、他の商品をお選びください</p>
              </li>
            </ul>
          </div>
          <div class="c-error" th:if="${it.menuItemValidationResult.name() == 'CANNOT_SELECT'}">
            <div class="c-error-title-wrap">
              <i class="-icon c-icon-error"></i>
              <p class="c-error-tit">この商品は現在注文できません</p>
            </div>
            <hr>
            <ul class="c-error-list">
              <li>
                <p class="c-error-desc">お手数ですが、他の商品をお選びください</p>
              </li>
            </ul>
          </div>
          <div class="c-container">
            <div class="p-store mod-half">
              <div class="p-storeHalfIntro">
                <h1 class="p-storeHalfIntro-tit" th:text="${it.menuItem.name}">マルゲリータ ハーフ&amp;ハーフ</h1>
                <div th:if="${it.menuItem.description != null}" class="p-storeHalfIntro-box">
                  <p nl2br:text="${it.menuItem.description}">1枚のピザに半分ずつ2種類のピザが楽しめます。価格は選ばれたピザの価格合計の半分です。<br />1枚のピザに半分ずつ2種類のピザが楽しめます。価格は選ばれたピザの価格合計の半分です。</p>
                </div>
              </div>
              <div class="p-storeOption js-half">
                <section class="p-storeOption-item">
                  <!-- ↓↓↓before APPROVAL↓↓↓ -->
                  <p th:if="${it.store.taxApprovalStatus == 2}" style="margin-bottom: 10px;font-size: 12px;">こちらの店舗では10月1日以降の受付を一時中止しております。</p>
                  <!-- ↑↑↑before APPROVAL↑↑↑ -->
                  <!-- ↓↓↓after APPROVAL↓↓↓ -->
                  <p th:if="${it.store.taxApprovalStatus == 1}" style="margin-bottom: 10px;font-size: 12px;">お届け日が10月1日以降の場合、価格が変更になる場合があります。買い物かごに変更後の価格を併記しております。このページに表示している価格は9月30日までの価格です。</p>
                  <!-- ↑↑↑after APPROVAL↑↑↑ -->
                  <div class="p-storeOption-tit">
                    <h3 class="-tit">商品を<span class="u-font-primary">2つ</span>お選びください。</h3><span class="-label c-form-required"> 必須</span>
                  </div>
                  <div class="p-storeOption-body">
                    <ul class="c-form-controls mod-bordered" th:remove="all-but-first">
                      <!--/* アプリケーション実行時には、最初の要素だけがテンプレートとして使用されます */-->
                      <li th:each="halfOption: ${it.halfOptions}">
                        <div class="c-form-half c-form-checkbox mod-sold"
                             th:class="${halfOption.saleStatus.name() == 'SOLD_OUT'} ? 'c-form-half c-form-checkbox mod-sold': 'c-form-half c-form-checkbox'">
                          <div class="c-form-half-media">
                            <div class="c-form-half-media-pic">
                              <input th:if="${halfOption.saleStatus.name() != 'SOLD_OUT'}"
                                     type="checkbox" name="half[]" class="js-half-control js-half"
                                     th:class="${it.menuItemValidationResult.name() == 'VALID' ? 'js-half-control js-half' : 'js-half-control js-half originally-disabled'}"
                                     id="half1" th:id="|half${halfOption.id}|" th:value="${halfOption.id}"
                                     th:disabled="${it.menuItemValidationResult.name() != 'VALID'}">
                              <label for="half1" th:for="|half${halfOption.id}|">
                                <span class="c-form-half-num js-half-num"></span>
                                <span class="c-form-half-pic">
                                  <img src="https://img.delivery.rakuten.co.jp/sample/assets/img/_dummy/pizza_1.jpg" th:src="@{${halfOption.imageUrl}}"
                                       alt="タジオーネスタジオーネ" th:alt="${halfOption.name}" class="u-w-100">
                                </span>
                              </label>
                            </div>
                            <div class="c-form-half-media-body">
                              <p data-ellipsis-line="2" class="c-form-half-tit js-ellipsis">
                                <label for="half1" th:text="${halfOption.name}">タジオーネスタジオーネ</label>
                              </p>
                              <p class="c-form-half-price">
                                <span class="-sold" th:if="${halfOption.saleStatus.name() == 'SOLD_OUT'}">売り切れ</span>
                                <span class="-price" th:text="${halfOption.priceLabel}">&yen;000,000,000</span>
                              </p>
                              <div th:if="${halfOption.description != null}" class="c-form-half-accordion js-ellipsis-accordion">
                                <div data-ellipsis-line="3" data-ellipsis-accordion="true" class="c-form-half-desc js-ellipsis">
                                  <p nl2br:text="${halfOption.description}">HOT<br>ハーブチキンとナポリサラミを使った、スパイシーなピザ。熟成ウンドゥーヤがアクセント。<br><br>チキン・サラミ・ウンドゥーヤ・オレガノ・ニンニク・モッツァレラ</p>
                                </div>
                                <p><a href="#" class="c-form-half-accordion-link c-link-thirdly js-ellipsis-link"><span class="-open">詳細を見る</span><span class="-close">詳細を閉じる</span></a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <!--/* アプリケーション実行時には使用されません */-->
                      <li>
                        <div class="c-form-half c-form-checkbox">
                          <div class="c-form-half-media">
                            <div class="c-form-half-media-pic">
                              <input type="checkbox" name="half[]" id="half2" class="js-half-control js-half originally-disabled" disabled="disabled">
                              <label for="half2">
                                <span class="c-form-half-num js-half-num"></span>
                                <span class="c-form-half-pic">
                                  <img src="https://img.delivery.rakuten.co.jp/sample/assets/img/_dummy/pizza_2.jpg" alt="" class="u-w-100">
                                </span>
                              </label>
                            </div>
                            <div class="c-form-half-media-body">
                              <p data-ellipsis-line="2" class="c-form-half-tit js-ellipsis">
                                <label for="half2">H&H商品自体が品切れもしくは選択可能なオプション<2のとき用のサンプル</label>
                              </p>
                              <p class="c-form-half-price">
                                <span class="-price">&yen;000,000,000</span>
                              </p>
                              <div class="c-form-half-accordion js-ellipsis-accordion">
                                <div data-ellipsis-line="3" data-ellipsis-accordion="true" class="c-form-half-desc js-ellipsis">
                                  <p>赤・白・緑のイタリアンカラーの代表的No.1ピザ。<br>シンプルだからこそ繊細なピザは、専用ブレンドのトマトソースと水牛のモッツァレラチ</p>
                                </div>
                                <p><a href="#" class="c-form-half-accordion-link c-link-thirdly js-ellipsis-link"><span class="-open">詳細を見る</span><span class="-close">詳細を閉じる</span></a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="c-form-half c-form-checkbox">
                          <div class="c-form-half-media">
                            <div class="c-form-half-media-pic">
                              <input type="checkbox" name="half[]" id="half3" class="js-half-control js-half">
                              <label for="half3">
                                <span class="c-form-half-num js-half-num"></span>
                                <span class="c-form-half-pic">
                                  <img src="https://img.delivery.rakuten.co.jp/sample/assets/img/_dummy/pizza_3.jpg" alt="" class="u-w-100">
                                </span>
                              </label>
                            </div>
                            <div class="c-form-half-media-body">
                              <p data-ellipsis-line="2" class="c-form-half-tit js-ellipsis">
                                <label for="half3">冬のクアトロスタジオーネスタジオーネ</label>
                              </p>
                              <p class="c-form-half-price">
                                <span class="-price">&yen;1,900円</span>
                              </p>
                              <div class="c-form-half-accordion js-ellipsis-accordion">
                                <div data-ellipsis-line="3" data-ellipsis-accordion="true" class="c-form-half-desc js-ellipsis">
                                  <p>赤・白・緑のイタリアンカラーの代表的No.1ピザ。<br>シンプルだからこそ繊細なピザは、専用ブレンドのトマトソースと水牛のモッツァレラチ</p>
                                </div>
                                <p><a href="#" class="c-form-half-accordion-link c-link-thirdly js-ellipsis-link"><span class="-open">詳細を見る</span><span class="-close">詳細を閉じる</span></a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="c-form-half c-form-checkbox">
                          <div class="c-form-half-media">
                            <div class="c-form-half-media-pic">
                              <input type="checkbox" name="half[]" id="half4" class="js-half-control js-half">
                              <label for="half4">
                                <span class="c-form-half-num js-half-num"></span>
                                <span class="c-form-half-pic">
                                  <img src="https://img.delivery.rakuten.co.jp/sample/assets/img/_dummy/pizza_4.jpg" alt="" class="u-w-100">
                                </span>
                              </label>
                            </div>
                            <div class="c-form-half-media-body">
                              <p data-ellipsis-line="2" class="c-form-half-tit js-ellipsis">
                                <label for="half4">冬のクアトロスタジオーネスタジオーネ冬のクアトロスタジオーネスタジオーネ冬のクアトロスタジオーネスタジオーネ冬のクアトロスタジオーネスタジオーネ冬のクアトロスタジオーネスタジオーネ冬のクアトロスタジオーネスタジオーネ</label>
                              </p>
                              <p class="c-form-half-price">
                                <span class="-price">&yen;1,900円</span>
                              </p>
                              <div class="c-form-half-accordion js-ellipsis-accordion">
                                <div data-ellipsis-line="3" data-ellipsis-accordion="true" class="c-form-half-desc js-ellipsis">
                                  <p>赤・白・緑のイタリアンカラーの代表的No.1ピザ。<br>シンプルだからこそ繊細なピザは、専用ブレンドのトマトソースと水牛のモッツァレラチ赤・白・緑のイタリアンカラーの代表的No.1ピザ。シンプルだからこそ繊細なピザは、専用ブレンドのトマトソースと水牛のモッツァレラチ</p>
                                </div>
                                <p><a href="#" class="c-form-half-accordion-link c-link-thirdly js-ellipsis-link"><span class="-open">詳細を見る</span><span class="-close">詳細を閉じる</span></a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="c-form-half c-form-checkbox mod-sold">
                          <div class="c-form-half-media">
                            <div class="c-form-half-media-pic">
                              <label>
                                <span class="c-form-half-num"></span>
                                <span class="c-form-half-pic">
                                  <img src="https://img.delivery.rakuten.co.jp/sample/assets/img/_dummy/pizza_1.jpg" alt="" class="u-w-100">
                                </span>
                              </label>
                            </div>
                            <div class="c-form-half-media-body">
                              <p data-ellipsis-line="2" class="c-form-half-tit js-ellipsis">
                                <label>冬のクアトロスタジオーネスタジオーネ</label>
                              </p>
                              <p class="c-form-half-price">
                                <span class="-sold">売り切れ</span>
                                <span class="-price">&yen;1,900円</span>
                              </p>
                              <div class="c-form-half-accordion js-ellipsis-accordion">
                                <div data-ellipsis-line="3" data-ellipsis-accordion="true" class="c-form-half-desc js-ellipsis">
                                  <p>赤・白・緑のイタリアンカラーの代表的No.1ピザ。</p>
                                </div>
                                <p><a href="#" class="c-form-half-accordion-link c-link-thirdly js-ellipsis-link"><span class="-open">詳細を見る</span><span class="-close">詳細を閉じる</span></a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </section>
              </div>
              <ul id="storeMenu" class="c-tab">
                <li class="c-tab-item"><a href="/store/" class="c-tab-link" th:href="@{/store/{storeId}/(storeId=${it.store.id})}">メニュー</a></li>
                <!--/*<li class="c-tab-item"><a href="/store/review.html#storeMenu" class="c-tab-link">口コミ<span class="-small">(14件)</span></a></li>*/-->
                <li class="c-tab-item"><a href="/store/info.html" th:href="@{/store/{storeId}/info/(storeId=${it.store.id})}" class="c-tab-link">店舗情報</a></li>
              </ul>
              <div class="p-storePager">
                <p class="p-storePager-item">
                  <a href="/store/" th:href="@{/store/{storeId}/(storeId=${it.store.id})}" class="c-link-thirdly mod-arrow-back" th:text="|${it.store.name} トップページに戻る|">PIZZA SALVATORE CUOMO 代官山店 トップページに戻る</a>
                </p>
              </div>
            </div>
          </div>
          <div class="p-storeCart is-fixed is-hidden js-half-result">
            <div class="p-storeCart-inner"><a href="/store/item.html" th:href="@{/store/{storeId}/item/{articleId}/(storeId=${it.store.id},articleId=${it.menuItem.articleId},menuId=${it.menuItem.menuId})}" class="c-btn-secondary c-btn-footer js-btn-goToStoreItem"><span class="-text">次へ進む</span></a></div>
          </div>
        </div>
        <div class="js-include c-includeBanner" data-src="/static/js-include/footer/store.html"></div>
      </article>
    </main>
    <!--/*--><!--#include virtual="/include/common_footer.html" --><!--*/-->
    <div class="hidden" th:replace="~{include/common_footer} ?: ~{}">include/common_footer.htmlの呼び出し</div>

    <!-- RAT Input Tags -->
    <input class="ge" name="gePageName" id="gePageName" value="store:item:half" type="hidden" />
    <input class="ge" name="geShopGroupId" id="geShopGroupId" value="test" th:value="${it.store.groupId}" type="hidden">
    <input class="ge" name="geShopId" id="geShopId" value="test" th:value="${it.store.id}" type="hidden">
    <input class="ge" name="geProductId" id="geProductId" value="test" th:value="${it.menuItem.articleId}" type="hidden">

    <script src="https://img.delivery.rakuten.co.jp/data/static/assets/js/common.min.js" th:src="${@staticResourceVersionsConfiguration.getVersionedUrl('https://img.delivery.rakuten.co.jp/data/static/assets/js/common.min.js')}"></script>
    <!--/* TODO 一時的にstaticファイルを参照する。最終的にはdelicwdに上げて、gulpでminify化してもらう。(common.min.jsになるはず。) */-->
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/half.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/store.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/js/cart.js')}"></script>
    <!--/* SC */-->
    <script type="text/javascript">
    var trackingParam = {};
    var geShopGroupId = document.getElementById("geShopGroupId").value,
        geShopId = document.getElementById("geShopId").value;
    trackingParam.products = geShopGroupId + ";" + geShopId;
    trackingParam.prop15 = document.getElementById("geProductId").value;
    </script>
    <!--/* /SC */-->
    <!--/*--><!--#include virtual="/include/common_modal.html" --><!--*/-->
    <!--/*--><!--#include virtual="/include/common_message.html" --><!--*/-->
    <!--/*--><!--#include virtual="/include/common_tools.html" --><!--*/-->
    <div class="hidden" th:replace="~{include/common_modal} ?: ~{}">include/common_modal.htmlの呼び出し</div>
    <div class="hidden" th:replace="~{include/common_message} ?: ~{}">include/common_message.htmlの呼び出し</div>
    <div class="hidden" th:replace="~{include/common_tools} ?: ~{}">include/common_tools.htmlの呼び出し</div>
  <!-- RAT tags -->

  <!-- Generic Parameters -->
  <input type="hidden" name="rat" id="ratAccountId" value="424">
  <input type="hidden" name="rat" id="ratServiceId" value="1">
  <input type="hidden" name="rat" id="ratSiteSection" value="/store">
  <input type="hidden" name="rat" id="ratPageName" th:value="'/store/' + ${it.store.id} + '/item/' + ${it.menuItem.articleId} + '/'">
  <input type="hidden" name="rat" id="ratShopGenre" th:value="${it.store.groupId}">
  <input type="hidden" name="rat" id="ratShopId" th:value="${it.store.id}">
  <input type="hidden" name="rat" id="ratPublisher" value="own">
  <!-- /Generic Parameters -->

  <!-- Custom Parameters -->
  <input type="hidden" name="rat" id="ratCustomParameters" value="{'deli_take_view':'delivery','old_beta_view':'beta'}">
  <!-- /Custom Parameters -->

  <!-- Conversion Parameters -->
  <!-- /Conversion Parameters -->

  <script type="text/javascript" src="//delivery.rakuten.co.jp/js/rat/rat-delivery.js"></script>
  <script type="text/javascript" src="//r.r10s.jp/com/rat/js/rat-main.js"></script>

  <!-- /RAT tags -->
  </body>
</html>
